
<p> Happy words: <%=@mood.happy_words%>
</p>

<p> ************************************************************************* </p>


<p> Sad words: <%=@mood.sad_words%>
</p>

<p>
  ********************************************
</p>

<p> Score: <%=@mood.score%>
