
<ul> <% @tweets.each do |tweet| %>
  <li> <%=tweet %> </li>
  <% end %>
</ul>

<p> ************************************************************************* </p>


<ul> <% @tweets1.each do |tweet| %>
  <li> <%=tweet %> </li>
  <% end %>
</ul>

