

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Cities
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/happy/birthday/Alyssa/chicago">Chicago</a></li>
      <li><a href="/happy/birthday/Alyssa/sf">San Francisco</a></li>
      <li><a href="/happy/birthday/Alyssa/ny">New York</a></li>
    </ul>
  </div>

<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
  <!-- <p><%@mood.used_words.each do |word|%>
    <p id = "words"><%=word%></p>
    <%end%></p> -->

<canvas id="stage" width="1389" height="500">
   <p>Your browser doesn't support canvas.</p>
</canvas>
